
@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- breadcrumb -->
<div class="me-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="me-breadcrumb-box">
                    <h1>About</h1>
                    <p><a href="@Url.Action("Index","Home")">Home</a>About</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about -->
<div class="me-about me-about-single pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="me-about-img">
                    <img src="~/Content/assets/images/chameleon-background.jpg" alt="about" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="me-heading">
                    <h4>Cardano Chameleons</h4>
                    <h1>About Us</h1>
                </div>
                <div class="me-about-text">
                    <p align="justify" style="font-size: 20px; line-height: 28px; font-weight: 500;">Hello! This is a project by a 3D Artist. I've been creating 3D art and games for over 15 years now. I'm super excited to create new art in the form of NFTs. All of the NFT art is handmade by me and I try to keep the quality as high as possible.</p>
                </div>
            </div>
        </div>
    </div>
</div>